---
# tasks file for postfix
- name: Destinations | debconf
  ansible.builtin.debconf:
    name: postfix
    question: postfix/destinations
    value: ""
    vtype: string
  tags:
    - postfix
    - destination

- name: Relayhost | debconf
  ansible.builtin.debconf:
    name: postfix
    question: postfix/relayhost
    value: "{{ postfix_relayhost }}"
    vtype: string
  when:
    - postfix_relayhost is defined
  tags:
    - postfix
    - relayhost

- name: Main mailer type | debconf
  ansible.builtin.debconf:
    name: postfix
    question: postfix/main_mailer_type
    value: "{{ postfix_main_mailer_type | default('No configuration') }}"
    vtype: select
  when:
    postfix_main_mailer_type is undefined or
    postfix_main_mailer_type in ["No configuration","Internet Site","Internet
    with smarthost","Satellite system","Local only"]

  tags:
    - postfix
    - mailertype

- name: Package
  ansible.builtin.package:
    name: "{{ postfix_packages }}"
  tags:
    - postfix
    - package

- name: Package facts
  ansible.builtin.package_facts:
    manager: auto
  tags:
    - postfix
    - facts
    - core

- name: /etc/mailname
  ansible.builtin.lineinfile:
    dest: /etc/mailname
    regexp: ^.*$
    line: "{{ postfix_domain }}"
    backup: true
    create: true
    mode: "0644"
  when:
    - postfix_domain is defined
  notify: Restart postfix
  tags:
    - postfix
    - domain

- name: Check main.cf
  ansible.builtin.stat:
    path: /etc/postfix/main.cf
  register: main_cf
  tags:
    - postfix
    - main.cf
    - core

- name: Handle main.cf
  when:
    - main_cf.stat.exists
  block:
    - name: Main config | main.cf
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^{{ item.name }}\s*=
        line: "{{ item.name }} = {{ item.value }}"
        backup: true
      loop:
        - name: inet_interfaces
          value:
            "{{ postfix_inet_interfaces |
            default(__postfix_inet_interfaces) }}"
        - name: inet_protocols
          value:
            "{{ postfix_inet_protocols |
            default(__postfix_inet_protocols) }}"
        - name: smtpd_relay_restrictions
          value: "{{ postfix_smtpd_relay_restrictions | join(' ') }}"
      notify: Restart postfix
      tags:
        - postfix
        - main.cf
        - configuration
        - local
        - satellite

    - name: Main config | main.cf
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^{{ item.name }}\s*=
        line: "{{ item.name }} = {{ item.value }}"
        backup: true
      loop:
        - name: smtpd_helo_restrictions
          value: "{{ postfix_smtpd_helo_restrictions | join(' ') }}"
        - name: smtpd_sender_restrictions
          value: "{{ postfix_smtpd_sender_restrictions | join(' ') }}"
        - name: smtpd_tls_cert_file
          value: "{{ postfix_tls_cert }}"
        - name: smtpd_tls_key_file
          value: "{{ postfix_tls_key }}"
      when:
        postfix_main_mailer_type in ["Internet Site","Internet with smarthost"]
      notify: Restart postfix
      tags:
        - postfix
        - main.cf
        - configuration
        - internet

    - name: Main config | main.cf
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^{{ item.name }}\s*=
        line: "{{ item.name }} = {{ item.value }}"
        backup: true
      loop:
        - name: smtpd_recipient_restrictions
          value: "{{ postfix_smtpd_recipient_restrictions | join(' ') }}"
      when:
        - postfix_smtpd_recipient_restrictions is defined
        - postfix_smtpd_recipient_restrictions | length > 0
      notify: Restart postfix
      tags:
        - postfix
        - main.cf
        - configuration
        - internet

    - name: Main config | main.cf
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^{{ item.name }}\s*=
        state: absent
        backup: true
      loop:
        - name: smtpd_recipient_restrictions
      when:
        postfix_smtpd_recipient_restrictions is undefined or
        postfix_smtpd_recipient_restrictions | length == 0
      notify: Restart postfix
      tags:
        - postfix
        - main.cf
        - configuration
        - internet

    - name: Main config | main.cf | myorigin
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^myorigin.*=.*
        line: myorigin = /etc/mailname
        backup: true
      notify: Restart postfix
      tags:
        - postfix
        - destination

    - name: Destination
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^mydestination.*=.*
        line: mydestination =
        backup: true
      notify: Restart postfix
      tags:
        - postfix
        - destination

    - name: Relayhost
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^relayhost.*=.*
        line: relayhost = {{ postfix_relayhost }}
        backup: true
      when:
        - postfix_relayhost is defined
      notify: Restart postfix
      tags:
        - postfix
        - relayhost

    - name: Networks
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^mynetworks.*=.*
        line: mynetworks = /etc/postfix/networks
        backup: true
      when:
        - postfix_networks is defined
      notify: Restart postfix
      tags:
        - postfix
        - networks

    - name: Message size limit
      ansible.builtin.lineinfile:
        dest: /etc/postfix/main.cf
        regexp: ^message_size_limit.*=.*
        line: message_size_limit = {{ postfix_message_size_limit }}
        backup: true
      when:
        - postfix_message_size_limit is defined
      notify: Restart postfix
      tags:
        - postfix
        - networks

    - name: Root alias
      ansible.builtin.lineinfile:
        dest: /etc/aliases
        regexp: "^root:"
        line: "root: {{ postfix_root_alias }}"
        backup: false
      notify: Run newaliases
      tags:
        - postfix
        - aliases

- name: Access table
  ansible.builtin.template:
    src: postfix_access.j2
    dest: /etc/postfix/access
    backup: true
    mode: "0644"
  when: postfix_access is defined
  notify: Rebuild access table
  tags:
    - postfix
    - access

- name: Networks
  ansible.builtin.template:
    src: postfix_networks.j2
    dest: /etc/postfix/networks
    backup: true
    mode: "0644"
  when:
    - postfix_networks is defined
  notify: Restart postfix
  tags:
    - postfix
    - networks

- name: Transport table
  ansible.builtin.template:
    src: postfix_transport.j2
    dest: /etc/postfix/transport
    backup: true
    mode: "0644"
  when: postfix_transport is defined
  notify: Rebuild transport table
  tags:
    - postfix
    - transport
