# {{ ansible_managed }}. role: {{ role_name }}, template: postfix_access.j2
#
# See postfix_access.j2 and postfix_access variable definition in postfix's
# role.

{% if postfix_access is defined %}{% for access in postfix_access %}{{ access }}
{% endfor %}{% endif %}
